*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat ;
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0dcfb5d7;
}

#refresh:active{
    background: #53ac00;
}

